/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Link   : dtysky.moe
 * @Date   : 1/27/2019, 2:54:00 AM
 */
.ui {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &-countdown {
    $height: 36px;
    position: absolute;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 96%;
    // left: 2%;
    top: 12px;

    img {
      display: inline-block;
    }

    &-shoes {
      position: relative;
      height: $height;
      z-index: 1;

      >img {
        position: absolute;
        left: 0;
        height: $height;

        &:first-child {
          position: relative;
        }
      }
    }

    &-bar {
      position: relative;
      height: $height;
      margin-left: -$height + 8;
      z-index: 0;

      &-bar {
        position: absolute;
        height: $height;
        right: 4px;
        transform-origin: left;
      }

      &-box {
        position: relative;
        left: 0;
        height: $height + 44;
        top: -22px;
      }

      &-mom {
        position: absolute;
        left: 48px;
        height: $height - 18;
        top: 8px;
      }

      &-text {
        position: absolute;
        right: 24px;
        height: $height;
        line-height: $height;
        margin: 0;
        top: 0;
        color: #fff;
      }
    }

    &-door {
      height: $height;
    }
  }

  &-stars {
    $size: 48px;
    position: absolute;
    left: 5%;
    bottom: 10%;

    img {
      width: $size;
      display: block;
      margin-bottom: 12px;
    }
  }

  &-button-back {
    position: absolute;
    width: 30%;
    right: 10%;
    bottom: 10%;
  }

  &-result {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 20%;

    img {
      &:first-child {
        width: 100%;
      }

      &:nth-child(2) {
        position: absolute;
        width: 60%;
        left: 20%;
        top: 4px;
      }
    }

    img.star-0:nth-child(2) {
      width: 90%;
      left: 5%;
      top: -10%;
    }

    >div {
      position: absolute;
      width: 60%;
      left: 20%;
      height: 10%;
    }

    &-restart {
      top: 38%;
    }

    &-next {
      top: 52%;
    }

    &-back {
      top: 66%;
    }
  }

  &-desc {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 20%;

    >img {
      width: 100%;
    }

    >div {
      position: absolute;
    }

    &-desc {
      width: 50%;
      height: 15%;
      top: 25%;
      left: 25%;
    }

    &-condition {
      width: 50%;
      height: 15%;
      top: 42%;
      left: 25%;
    }

    &-start {
      width: 26%;
      height: 10%;
      top: 64%;
      left: 25%;
    }

    &-back {
      width: 26%;
      height: 10%;
      top: 64%;
      right: 20%;
    }
  }

  &-select {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 20%;

    >img {
      width: 100%;
    }

    >div {
      position: absolute;
    }
  }
}
