/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Link   : dtysky.moe
 * @Date   : 2018-7-7 00:39:35
 */
 html, body, #container {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f7f6;
  position: relative;
}

.gameboy {
  position: absolute;
  width: 150px;
  height: 218px;
  background: url(./assets/level1_concle.png);
  background-size: 100% 100%;
}
.book {
  position: absolute;
  width: 150px;
  height: 240px;
  background: url(./assets/level1_book.png);
  background-size: 100% 100%;
}
.bg {
  height: 100%;
  width: 0;
  position: relative;
  overflow: hidden;
  .bg-img {
    background-size: 100% 100%;
    height: 100%;
  }
  .shelf {
    position: absolute;
    background: url(./assets/level1_shelf.png);
    background-size: 100% 100%;
    height: 50%;
    width: 31%;

    left: 6%;
    top: 40%;
  }
  .sofa {
    position: absolute;
    background: url(./assets/level1_sofa_withconcle.png);
    background-size: 100% 100%;
    height: 30%;
    width: 24%;
    left: 73%;
    top: 60%;
  }
  .desk {
    position: absolute;
    background: url(./assets/level1_desk.png);
    background-size: 100% 100%;
    height: 50%;
    width: 30%;

    left: 39%;
    top: 40%;
  }
}
.stars {
  height: 300px;
  position: fixed;
  top: 30%;
  .star {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background: #aaa;
  }
}
.stars.star-1 {
  .star:nth-last-child(1) {
    background: red;
  }
}
.stars.star-2 {
  .star:nth-last-child(2) {
    background: red;
  }
}
.stars.star-3 {
  .star:nth-last-child(3) {
    background: red;
  }
}
.progress {
  height: 30px;
  left: 30px;
  top: 50px;
  background: #fff;
  position: fixed;
  .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #aaa;
  }
}
.back {
  position: absolute;
  bottom: 20px;
  right: 20px;
}